* {
  box-sizing: border-box;
}

body {
  margin: 30px;
}

.primary-title {
  text-align: center;
  color: #68434c;
  box-shadow: 10px 5px 5px #68434c
}

.elements {
  display: flex;  
}

.element {
  width:50%;
  padding: 15px;
}

textarea {
  display: block;
  width: 100%;
  font-family: arial, sans-serif;
  padding: 5px 10px;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: .25rem;
  box-shadow: 10px 5px 5px #68434c;
}

.preview {
  display: block;
  width: 100%;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: .25rem;
  box-shadow: 10px 5px 5px #68434c;
}

code {
  padding: 2px 4px;
  font-size: .9em;
  color: #68434c;
  background-color: #f9f2f4;
  border-radius: 4px;
}
